$fa-font-path: "~font-awesome/fonts";
$select-input-height: 28px;
$rw-font-path: '~react-widgets/lib/fonts';
$rw-img-path: '~react-widgets/lib/img';
@import "~font-awesome/scss/font-awesome";
@import '~normalize.css/normalize';
@import '~react-widgets/lib/scss/react-widgets.scss';
@import '~react-select/scss/default';
@import './_base.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $siui-color-body-background !important;
  font: $siui-font-family;
  min-width: $website-min-width !important;
}

#content {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
