.button {
  margin: 30px;
}

.inputBlock {
  width: 400px;
  margin-top: 30px;
}

.stateContent {
  margin: 40px 0px;
}

.loadBoxClass {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 20px !important;
  font-size: 12px !important;
  width: 35% !important;
}
